---
import Hamburger from "./Hamburger.astro"
---

<>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/tags/">Tags</a>
    </div>

    <Hamburger/>
</>
<!-- <style>
    .nav {
        display: flex;
        gap: 0.5rem;
        background-color: yellow;
    }
</style> -->